.contentWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
}

.link {
    margin: 15px;
}

.textDescription {
    padding-left: 10px;
}

.text {
    max-width: 25vw;
}


